


@media only screen and (min-width: 330px) and (max-width: 475px) {
	
   .child{
	  padding-top: 2vw;
      font-size: 6rem;
	  font-weight: bold;
	  font-family: serif;
	
         }

}
@media only screen and (max-width: 330px) 
{

	.child{
	  padding-top: 3vw;
      font-size: 2rem;
	  font-weight: bold;
	  font-family: serif;
      padding-right: 2vw;
         }

  }
